#myForm {
    padding: 20px;
    width: 400px;
    background: #ccc;
}

#myForm div {
    height: 40px;
    padding-bottom: 30px;
}

#myForm div input[type=text],
#myForm div input[type=email] {
    float: right;
    width: 200px;
}

#myForm div input[type=button] {
    width: 150px;
    text-align: center;
}

.lableErr {
    display: block;
    text-align: right;
    margin-top: 10px;
}